<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <img src="images/exam.png" alt="" width="30" height="24" class="d-inline-block">
              <strong>EXAM ANALYTICS SYSTEM</strong>
                  <a class="nav-link active" href="#">Logout</a>
            </a>
          </div>
        </div>
      </header>
      <h1 style="color: #D42D65;">Student Profile:</h1>
    <div class="container">
        <div class="main">
            <div class="topbar">
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-1">
        <div class="card mb-3 content">
            <% studentdetails.forEach(function(item) {%>
            <h2 class="m-1 pt-1">About</h2>
            <div class="card-body">
                <img src="images/1.png" class="rounded-circle" width="150" alt="">
            </div>
            <div class="card-body">
                <div class="row">
                    <form class="form-inline" action="/studentupdate" method="POST">
                    <div class="col=md-3">
                        <h6>Name:</h6>  
                        </div>
                        <div>
                            <input  type="text" name="name1" value="<%=item.name%>" style="box-sizing: content-box;"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col=md-3">
                            <h6>E-mail:</h6>  
                            </div>
                            <div>
                            <input type="text" name="email" value="<%=item.email%>" style="box-sizing: content-box;"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col=md-3">
                                <h6>Contact</h6>  
                                </div>
                                <div>
                                <input type="text" name="contact" value="<%=item.contact%>"  style="box-sizing: content-box;"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col=md-3">
                                    <h6>Gender:</h6>  
                                    </div>
                                    <div>
                                        <input type="text" name="gender" value="<%=item.gender%>">
                                </div>
                                </div>
                            </div>
                         </div>
                         <div class="card-body">
                            <div class="row">
                               <div class="col=md-3">
                                   <h6>Password</h6>  
                                   </div>
                                   <div>
                                       <input type="text" value="<%=item.password%>" name="password" id="">
                                   </div>
                                   </div>
                        </div>
                        <div class="card-body">
                           <div class="row">
                              <div class="col=md-3">
                                  <h6> confirm Password</h6>  
                                  </div>
                                  <div>
                                      <input type="text"  value="<%=item.confirmpassword%>" name="confirmpassword" id="">
                                  </div>
                                  </div>
                       </div>
                         <div class="card-body">
                            <div class="row">
                               <div class="col=md-3">
                                   </div>
                                   <div>
                                    <button type="submit" class="btn btn-sm btn-info">
                                        Update <input type=hidden value="<%=item._id%>" name="_id"> </button> </form>
                                   </div>
                                   </div>
                        </div>
                        <% }) %>                         
         

            </div>

            </div>

        </div>
    </div>
    

</body>
</html>